<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="fn1" class="top_margin" id="footer">
    <div fxFlex.gt-sm="2" fxFlex="100" class="fn1"></div>
    <div fxFlex.gt-sm="96" fxFlex="100" class="fn1">

      <!-- <mat-divider></mat-divider> -->
      <span style="float: left;">In case of any concern, <a href="#" style="text-decoration: none;color:#90BEFF;font-size: medium">Contact Us</a></span><span style="float: right;">&copy; 2019 www.markhor.com. All rights reserved.</span>
    
    </div>
     
   </div>
   