<div fxLayout="row" fxLayout.xs="column"  fxLayoutGap="7px">
    <div fxFlex.gt-sm="10" fxFlex="100" ></div>
  <div fxFlex.gt-sm="80" fxFlex="100" >
  <mat-toolbar>
    <mat-toolbar-row class="myaccount-heading">
      My Account
    </mat-toolbar-row>
  </mat-toolbar>  
  </div>
  <div fxFlex.gt-sm="10" fxFlex="100" ></div>
</div>
<div fxLayout="row" fxLayout.xs="column"  fxLayoutGap="7px">
    <div fxFlex.gt-sm="10" fxFlex="100" ></div>
    <div fxFlex.gt-sm="80" fxFlex="100" >
      <div class="main-div">
        <mat-card>
          <mat-card-content>
              <div fxLayout="row wrap" >
                  <div fxFlex.gt-sm="100" fxFlex="100" >
                    <div>
                        <span>shashankcafe@gmail.com</span>
                    </div>
                    <div class="divider-horizontal"> <mat-divider [inset]="true"></mat-divider></div>
                  </div>
              </div>
              <div fxLayout="row" >
                  <div fxFlex.gt-sm="20" fxFlex="100" class="removeExtraSpace">
                      <app-side-nav [data]="4"></app-side-nav>
                  </div>
                  <div fxFlex.gt-sm="80" fxFlex="100" >
                      <div class="address">
                          <mat-card>
                            <mat-card-title>
                                <div ><span style="float: right"><button (click)="addNewAddress()" matTooltip="Add New Address" matTooltipPosition="left" style="z-index:2; color:white; background-color:rgb(68, 196, 255);font-size: 14px; " type="button" mat-mini-fab><mat-icon>add</mat-icon></button></span></div>
                            </mat-card-title>
                            <mat-card-content>
                                
                              <div>
                                <mat-grid-list cols="2" rowHeight="250px">
                                    <mat-grid-tile *ngFor="let address of addresses;">
                                        <mat-card style="z-index: 0;">
                                            <div class="address-content">
                                              <mat-card-content>
                                                  <div class="shipping-details-content">
                                                      <div class="customer-name">Sahil Soni <span style="float: right;">Home</span></div><br/>
                                                      <div class="customer-address"> H No.280 Ward No.15 Malviya Ganj near new gurudwara </div><br/>
                                                      <div class="customer-city">Itarsi, Pincode: 461111</div><br/>
                                                      <div class="customer-contact-no">Contact Number: 8770032079</div><br/>
                                                      <div class="action-btns"><span style="float: left;"><button type="button" mat-stroked-button>Edit</button></span><span style="float: right;"><button type="button" mat-stroked-button>Delete</button></span></div>
                                                    </div>
                                              </mat-card-content>
                                            </div>
                                          </mat-card>
                                    </mat-grid-tile>
                                </mat-grid-list>
                              </div>
                        
                        
                        </mat-card-content>
                        </mat-card>
                        </div>
                  </div>
              </div>
          </mat-card-content>
        </mat-card>
    </div>
    </div>
    <div fxFlex.gt-sm="10" fxFlex="100" ></div>
  </div>